html body footer {
    margin-top: 12px;
    border-top: 1px solid $colorThird;
    .footer-content {
        margin: 20px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;

        .logo {
            font-size: large;
            font-weight: 900;
            margin-left: 2.5rem;

            a {
                color: $colorThird;
            }
        }

        p {
            font-family: $textFontStandard;
            color: $colorThird;
            margin-left: 2.5rem;
        }

        ul li {
            list-style-type: none;
            margin: 5px;
            font-family: $textFontStandard;

            a {
                color: $colorSecond;
                &:hover {
                    color: $colorFourth
                }
            }
        }
    }
}